.panel-left {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.panel-right {
  margin-top: 15px;
  margin-right: 15px;
}
.btn-opt {
  font-size: smaller;
}
.notice {
  font-size: small;
  color: red;
}
.ant-list-item-action{
  cursor: pointer;
    z-index: 3;
    right: 5px;
    top: 20%;
    position: absolute;
}