.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.qrcode {
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
} 

.logo {
    width: 15%;
    margin-right: 5px;
}

.icon {
    margin-right: 5px;
}

.currency {
    img{
        width: 20px;
        margin-left: 3px;
    }
    span{
        font-size: 20px;
    }
    div{
        color: black;
    }
}

.currency-single {
    img{
        width: 20px;
        margin-left: 3px;
    }

    .ant-statistic-title {
        font-size: 20px;
    }

    div{
        color: black;
    }
}

#root {
    background-color: gray;
}

.title {
    font-size: 18px;
}

.items {
    h4 {
        font-size: 16px;
    }
    .value {
        color: black;
        font-size: 13px;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 25px;
    }
    .card {
        width: 100%;
        // height: 100%;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .currency {
        img{
            width: 18px;
        }
        span{
            font-size: 16px;
        }
        div{
            color: black;
        }
    }
}